<mat-toolbar color="primary" class="nav-bar-header mat-elevation-z8" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="start center">
    <a mat-button>
      <h1>Material Icons</h1>
    </a>
  </div>
    <mat-form-field style="font-size: 12px; width: 300px;" floatLabel="never">
      <input name="search" matInput type="text" placeholder="输入查询内容" autocomplete="off" [formControl]="searchCtrl">
      <button mat-button matSuffix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  <div>
    <a mat-button class="nav-bar-menu" href="https://github.com/tinyking">
      <i class="fa fa-github fa-2x"></i>
    </a>
  </div>
</mat-toolbar>

<div class="main-content">



  <mat-card *ngFor="let group of iconGroups">
    <mat-card-header>
      <mat-card-title><h4>{{upperFirstChar(group.name)}}</h4></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div *ngFor="let icon of group.icons" fxLayout="column" fxLayoutAlign="center center" class="icon-box" (click)="doCopy(icon)">
          <mat-icon>{{icon}}</mat-icon>
          <span>{{icon}}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>


<div class="scroll-top">
  <button mat-fab (click)="scrollTop()"><mat-icon>navigation</mat-icon></button>
</div>
